.input-group {
    position: relative;
  }
  
  .input-group-append {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* Ensure it's above the input field */
  }
  
  .input-group-text {
    border-left: none; /* Removes border between input and icon */
    cursor: pointer;
  }
  
  