<div class="container-fluid">
  <div class="row no-gutter">
    <!-- The content area now takes full width without the image column -->
    <div class="container ">
      <div class="row " style="justify-content: center !important;">
        <!-- <div class=""> -->
        <!-- <div class="row"> -->

        <div class="col-lg-8 col-xl-6 ">
          <div class="form-box p-4 shadow">
            <button class="home-btn" routerLink="/Login">
              <!-- Arrow icon and Home text -->
              <span>&larr;</span> Login
            </button>
            <h1 class="main-heading text-center">Sign Up, Travlis</h1>


            <form #form="ngForm" (ngSubmit)="OnSubmit()">
              <!-- First Name Field -->
              <div class="row">
                <div class="form-group col-lg-6">
                  <label for="firstName">First Name<span class="text-danger">*</span></label>
                  <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input type="text" id="firstName" name="FName" ngModel [(ngModel)]="registration.FName" required
                      pattern="[A-Za-z]+" class="form-control" placeholder="First Name" #FNameControl="ngModel" />
                  </div>
                  <div *ngIf="FNameControl.invalid && FNameControl.touched">
                    <span *ngIf="FNameControl.errors?.['required']" class="error-message">First Name is
                      required.</span>
                    <span *ngIf="FNameControl.errors?.['pattern']" class="error-message">Only letters are
                      allowed.</span>
                  </div>
                </div>

                <!-- Last Name Field -->
                <div class="form-group col-lg-6">
                  <label for="lastName">Last Name<span class="text-danger">*</span></label>
                  <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input type="text" id="lastName" name="LName" ngModel [(ngModel)]="registration.LName" required
                      pattern="[A-Za-z]+" class="form-control" placeholder="Last Name" #LNameControl="ngModel" />
                  </div>
                  <div *ngIf="LNameControl.invalid && LNameControl.touched">
                    <span *ngIf="LNameControl.errors?.['required']" class="error-message">Last Name is
                      required.</span>
                    <span *ngIf="LNameControl.errors?.['pattern']" class="error-message">Only letters are
                      allowed.</span>
                  </div>
                </div>
              </div>




              <!-- Password Field -->

              <div class="row">
                <div class="form-group col-lg-6">
                  <label for="password">Password<span class="text-danger">*</span></label>
                  <div class="input-container">
                    <i class="fa fa-eye toggle-password icon" (click)="togglePasswordVisibility()"></i>
                    <input 
                      type="password" 
                      id="password" 
                      name="Password" 
                      ngModel 
                      [(ngModel)]="registration.Password"
                      required 
                      [minlength]="8"
                      [maxlength]="8"
                      class="form-control" 
                      placeholder="Password" 
                      #PasswordControl="ngModel" 
                    />
                  </div>
                  <div *ngIf="PasswordControl.invalid && (PasswordControl.dirty || PasswordControl.touched)" class="text-danger">
                    <div *ngIf="PasswordControl.errors?.['required']">⚠ Password is required.</div>
                    <div *ngIf="PasswordControl.errors?.['minlength']">⚠ Password must be at least 8 characters long.</div>
                    <div *ngIf="PasswordControl.errors?.['maxlength']">⚠ Password cannot exceed 8 characters.</div>
                  </div>
                  
                </div>
                
                
                <div class="form-group col-lg-6">
                  <label for="confirmPassword">Confirm Password<span class="text-danger">*</span></label>
                  <div class="input-container">
                    <i class="fa fa-eye toggle-password icon" (click)="toggleConfirmPasswordVisibility()"></i>
                    <input 
                      type="password" 
                      id="confirmPassword" 
                      name="ConfirmPassword" 
                      [(ngModel)]="confirmPassword"
                      required 
                      [minlength]="8"
                      [maxlength]="8"
                      class="form-control" 
                      placeholder="Confirm Password"
                      #ConfirmPasswordControl="ngModel"
                      [ngClass]="{'is-invalid': ConfirmPasswordControl.invalid && (ConfirmPasswordControl.dirty || ConfirmPasswordControl.touched)}" 
                    />
                  </div>
                  <div *ngIf="ConfirmPasswordControl.invalid && (ConfirmPasswordControl.dirty || ConfirmPasswordControl.touched)"
                    class="text-danger">
                    <div *ngIf="ConfirmPasswordControl.errors?.['required']">Confirm Password is required.</div>
                    <div *ngIf="registration.Password !== confirmPassword && (ConfirmPasswordControl.dirty || ConfirmPasswordControl.touched)">
                      ⚠  Passwords must match.
                    </div>
                    <div *ngIf="ConfirmPasswordControl.errors?.['minlength'] || ConfirmPasswordControl.errors?.['maxlength']">
                      ⚠   Password must be exactly 8 characters long.
                    </div>
                  </div>
                </div>
                
              </div>

              <!-- <div class="form-group">
                    
                    <input type="password" class="form-control form-control-lg" id="exampleInputEmail1"
                      [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                  </div> -->


              <div class="row">
                <div class="form-group col-lg-6">
                  <label for="email">Email<span class="text-danger">*</span></label>
                  <div class="input-container">
                    <i class="fa fa-envelope icon"></i>
                    <input type="email" id="email" name="Email" ngModel [(ngModel)]="registration.Email" required
                      class="form-control" placeholder="Email Address" #EmailControl="ngModel" />
                  </div>
                  <div *ngIf="EmailControl.invalid && EmailControl.touched">
                    <span *ngIf="EmailControl.errors?.['required']" class="error-message">Email is required.</span>
                    <span *ngIf="EmailControl.errors?.['email']" class="error-message">Invalid email format.</span>
                  </div>
                </div>

                <div class="form-group col-lg-6">
                  <label for="referralCode">Enter your referral code<span class="text-danger">*</span></label>
                  <div class="input-container">
                    <i class="fa fa-gift icon"></i> <!-- Use an appropriate icon here -->
                    <input type="text" id="referralCode" class="form-control" [(ngModel)]="referralCode"
                      #referralCodeControl="ngModel" name="referralCode" required />
                  </div>
                  <div *ngIf="referralCodeControl.invalid && (referralCodeControl.dirty || referralCodeControl.touched)"
                    class="text-danger">
                    <div *ngIf="referralCodeControl.errors?.['required']">Referral code is required.</div>
                  </div>
                </div>
              </div>
              <!-- Submit Button -->
              <button type="submit" [disabled]="form.invalid || isSubmitted"
                class="btn-submit btn btn-primary btn-block shadow">Submit</button>
            </form>
          </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>