<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <app-navbar></app-navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
  
  
     
        <app-sidebar></app-sidebar>
  
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <!-- <app-surch></app-surch> -->
           <!-- <app-search1></app-search1> -->
           <app-search-hotel></app-search-hotel>
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            
        
          </div>
         
          </div>
        </div>
      </div>
      <!-- <div class="row">
       
        <div class="col-md-6 grid-margin transparent">
          <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
              <div class="card card-tale" style="background-image: url('/assets/newassets/1.png');">
                <div class="card-body">
                  <p class="mb-4">Today’s Bookings</p>
                  <p class="fs-30 mb-2">104</p>
                  <p>10.03 (30 days)</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
              <div class="card card-dark-blue" style="background-image: url('/assets/newassets/2.png');">
                <div class="card-body">
                  <p class="mb-4">Total Bookings</p>
                  <p class="fs-30 mb-2">6133</p>
                  <p>22.00% (30 days)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
              <div class="card card-light-blue" style="background-image: url('/assets/newassets/3.png');">
                <div class="card-body">
                  <p class="mb-4">Number of Customer</p>
                  <p class="fs-30 mb-2">14682</p>
  
                </div>
              </div>
            </div>
            <div class="col-md-6 stretch-card transparent">
              <div class="card card-light-danger" style="background-image: url('/assets/newassets/4.png');">
                <div class="card-body">
                  <p class="mb-4">Number of Trips(Completed)</p>
                  <p class="fs-30 mb-2">3066</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      
    </div>
  
  
  </div>
  
  </div>  
  </div>
  
  
  