
<section>
    <div class="container-fluid">
        <div class="row" style="    justify-content: center;">
        
            <div class="col-lg-8 col-12">
              
    
                  <div class="boxshadoww bottomborder topborder" style="    border-radius: 0px 10px 10px 0px; padding: 5%;">
                    <h1>Terms and Conditions</h1>
                    <div class="content">
                        <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use.</p>
                        
                        <h4>1. Acceptance of Terms</h4>
                        <p>By accessing or using this website, you agree to be bound by these terms and conditions, which govern our relationship with you.</p>
                        
                        <h4>2. Use of Website</h4>
                        <p>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</p>
                        
                        <h4>3. Disclaimer</h4>
                        <p>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable.</p>
                        
                        <h4>4. Intellectual Property</h4>
                        <p>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance, and graphics.</p>
                        
                        <h4>5. Privacy</h4>
                        <p>Your use of this website is subject to our Privacy Policy.</p>
                        
                        <h4>6. Links to Other Websites</h4>
                        <p>Our website may contain links to other websites of interest. However, we do not have any control over the content of those websites.</p>
                        
                        <h4>7. Changes to Terms and Conditions</h4>
                        <p>We reserve the right to update or change these terms and conditions at any time.</p>
                        
                        <h4>8. Contact Us</h4>
                        <p>If you have any questions about these terms and conditions, please <a href="contact.html">contact us</a>.</p>
                        
                        <p>Last updated: [Date]</p>
                        <br>
                        <!-- Default checkbox -->
                        <form #myForm="ngForm">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="terms1" required [(ngModel)]="terms1">
                              <label class="form-check-label" for="flexCheckDefault">I Read All Terms</label>
                          </div>
                      
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="terms2" required [(ngModel)]="terms2">
                              <label class="form-check-label" for="flexCheckChecked">I Accept all these Terms & Conditions</label>
                          </div>
                      
                          <!-- <div class="row" style="text-align: center;">
                              <button type="button" (click)="verifyEmail()" class="btn btn-primary" [disabled]="!myForm.valid">Continue</button>
                          </div> -->
                      </form>
                    </div>
                   <br>
                
                   <div class="row" style="text-align: center;">
                    <button type="button" (click)="verifyEmail()" class="btn btn-primary" [disabled]="!myForm.valid">Continue</button>
                </div>
                 
                    </div>
    
            </div>
        </div>
    </div>
    </section>
    
    
<!-- <button type="button" (click)="verifyEmail()" class="btn btn-primary" data-mdb-ripple-init>Continue</button> -->